@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Global overrides for premium ui */
body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f1f5f9;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}
